a { text-decoration: none; color: inherit; }

nav {
	position: relative;
	min-height: 50px;
	background: white;
	padding: 25px;
	box-sizing: border-box;
	h2 {
		font-size: 11pt;
		font-weight: normal;
		span {
			color: #cc0000;
		}
	}
	.map {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 80px;
		height: 68px;
		cursor: pointer;
		text-align: center; 
		display: block; 
		background: white;
		color: black;
		&:before { 
			content: 'MAP'; 
			display: block;
		}
		&:hover:before { background: black; color: white; }
	}
}

nav, section {
	transition: background-color 2s, color 2s, width 500ms, margin 500ms, height 1s;
	-webkit-transition: background-color 2s, color 2s, width 500ms, margin 500ms, height 1s;
}

.ui-widget {
	font-size: 0.8em;
	font-family: Helvetica Neue, Helvetica;
}

section.map {
	position: fixed;
	transition: top 750ms;
	-webkit-transition: top 750ms;
	background: white;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	z-index: 10;

	#map {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	#legend {
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 11;
		padding: 10px;
		background: white;
		border: 1px solid black;
		color: black;
		span { color: red; }
		p:first-of-type {
			font-size: 14pt;
			font-weight: bold;
			max-width: 300px;
		}
		p.dot, p.star {
			margin-right: 20px;
		}
		p.red.dot {
			color: red;
			background: url('/assets/red-dot.png') right center no-repeat;
		}
		p.green.dot {
			color: green;
			background: url('/assets/green-dot.png') right center no-repeat;
		}
		p.yellow.star {
			background: url('/assets/yellow-star.png') right center no-repeat;
		}
	}
}

section.map.open {
	top: 0;
}


section.fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}

section.task:first-of-type { margin-top: 50px; }

section.task {
	box-sizing: border-box;
	padding: 25px;
	color: #aaa;
	position: relative;
	
	button { 
		font-weight: bold; 
		text-transform: uppercase;
		font-size: 14pt;
		border: 1px solid black;
		background: #eeeeee;
	}
	
	button.next, button.prev, button.done { 
		display: none; 
		float: right;
	}
	
	ul, h4, textarea { display: none; }
	
	h4 { margin-top: 10px; }
	
	&.active {
		background: #eee;
		color: black;

		button.next, button.prev, button.done { 
			display: block; 
		}

		ul, h4, textarea { display: block; }
	}
}

#task-regime a {
	text-decoration: underline;
	font-weight: bold;
}

section {	
	.pre, .actions, .post { float: left; }
	.actions button { display: block; }
	#pre, #post { 
		width: 100%;
	}
	.pre, .post { 
		width: 100%;
		position: relative;
		box-sizing: border-box;
		button {
			float: left;
		}
		ul:after {
			content: '.';
			visibility: hidden;
			clear: both;
			display: block;
		}
		li { 
			float: left; 
			width: 5%;
			box-sizing: border-box;
			img { width: 100%;}
		}
		li.thumb {
			width: 32%;
		}
		li.thumb.active {
			width: 36%;
			padding: 0 3px;
		}
		li.thumb:first-child, li.thumb:last-child {
			cursor: pointer;
		}
	}
	.pre { 
		h1 + button { 
			position: absolute;
			top: 0;
			right: 5px;
		}
		h2 {
			margin-left: 10px;
		}
	}
	.post { 
		h1 + button {
			position: absolute;
			top: 0;
			left: 5px;
		}
		.actions {
			width: 100%;
			button { margin: 0 5px 5px 0; }
			&:after {
				content: '.';
				visibility: hidden;
				clear: both;
				display: block;	
			}
		}
	}
	.actions { width: 10%; }
	img {
		width: 100%;
	}
	
	p {
		margin-top: 10px;
		label { font-weight: bold; }
		button, input[type='checkbox'] { margin-left: 20px; }
	}
	button { margin-top: 10px; }
	ul.match, ul.regimes, ul.changes { 
		margin-top: 10px;
		clear: both;
		li { 
			min-width: 50%;
			float: left; 
			input[type='checkbox'], input[type='radio'] { margin-right: 5px; display: none; }
			label { 
				cursor: pointer;
				font-size: 11pt;
				padding: 5px; 
				box-sizing: border-box; 
				display: inline-block; 
				color: #004276;
				background: #eeeeee;
				border: 1px solid #004276;
				font-weight: bold;
				margin-bottom: 5px;
				border-radius: 5px;
			}
			input:checked + label { 
				color: #cc0000;
				background: white;
				border: 1px solid #cc0000; 
			}
		}
	}
	ul.regimes {
		li {
			min-width: 100%;
			label {
				margin-bottom: 10px;
			}
		}
	} 
	ul.match {
		li { 
			min-width: 100%; 
			label { margin-left: 10px; }
		}
	}
	textarea {
		margin-top: 10px;
		width: 100%;
		display: block;
		clear: both;
		font-size: 12pt;
	}
	#show-map {
		margin-left: 25px;
	}
	#save {
		float: right;
	}
	
	&:after, ul:after {
		content: '.';
		visibility: hidden;
		clear: both;
		display: block;
	}
}

button { padding: 5px; }

section.fixed.full {
	width: 100%;
}

@media screen and (max-height: 320px) {
	section.fixed { width: 120px; }
	nav, section.task { margin-left: 120px; }
}
@media screen and (min-height: 321px) and (max-height: 480px) {
	section.fixed { width: 160px; }
	nav, section.task { margin-left: 160px; }
}
@media screen and (min-height: 481px) and (max-height: 560px) {
	section.fixed { width: 228px; }
	nav, section.task { margin-left: 228px; }
}
@media screen and (min-height: 561px) and (max-height: 640px) {
	section.fixed { width: 290px; }
	nav, section.task { margin-left: 290px; }
}
@media screen and (min-height: 641px) and (max-height: 720px) {
	section.fixed { width: 372px; }
	nav, section.task { margin-left: 372px; }
}
@media screen and (min-height: 721px) and (max-height: 840px) {
	section.fixed { width: 420px; }
	nav, section.task { margin-left: 420px; }
}
@media screen and (min-height: 841px) and (max-height: 960px) {
	section.fixed { width: 460px; }
	nav, section.task { margin-left: 460px; }
}
@media screen and (min-height: 961px) and (max-height: 1080px) {
	section.fixed { width: 500px; }
	nav, section.task { margin-left: 500px; }
}
@media screen and (min-height: 1081px) and (max-height: 1200px) {
	section.fixed { width: 560px; }
	nav, section.task { margin-left: 560px; }
}
@media screen and (min-height: 1201px) {
	section.fixed { width: 620px; }
	nav, section.task { margin-left: 620px; }
}
