- last_annotation = image.annotations.order('created_at').select {|e| e.user_id==current_user.id}.last rescue nil
- if last_annotation
	You last annotated this post-storm photo on 
	%span #{last_annotation.created_at.strftime("%d %b %Y")} (#{time_ago_in_words(last_annotation.created_at)} ago).
- else
	You have not annotated this post-storm photo
