%nav
	%select
		- for opt in @storms
			%option{value: opt}= opt
%section
	.pre
		%img#pre{src: @pre_images.first.full_url || "http://placekitten.com/300/200"}
		%button#prev-pre PREV
		%ul.thumbs#pre-thumbs
			- 3.times do
				%li
					%img{src: "http://placekitten.com/160/120"}
		%button#next-pre NEXT
	.actions
		%button#find-pre < Find Pre
		%button#find-post Find Post >
	.post
		%img#post{src: @post_images.first.full_url || "http://placekitten.com/300/200"}
		%button#prev-post PREV
		%ul.thumbs#post-thumbs
			- 3.times do
				%li
					%img{src: "http://placekitten.com/160/120"}
		%button#next-post NEXT

:javascript
	var gPreImageId = #{ @pre_images.first.id };
	var gPostImageId = #{ @post_images.first.id };
