%nav
	%select
		- for opt in @storms
			%option{value: opt}= opt
%section
	.pre
		%h1 PRE
		%img#pre{src: @pre_images.first.full_url}
		%button#prev-pre PREV
		%ul.thumbs#pre-thumbs
			%li
				%img#pre-thumb0{src: nil}
			%li
				%img#pre-thumb1{src: nil}
			%li
				%img#pre-thumb2{src: nil}
		%button#next-pre NEXT
	.actions
		%button#find-pre < Find Pre
		%button#find-post Find Post >
	.post
		%h1 POST
		%img#post{src: @post_images.first.full_url}
		%button#prev-post PREV
		%ul.thumbs#post-thumbs
			%li
				%img#post-thumb0{src: nil}
			%li
				%img#post-thumb1{src: nil}
			%li
				%img#post-thumb2{src: nil}
		%button#next-post NEXT

:javascript
	var gPreImageId = #{ @pre_images.first.id };
	var gPostImageId = #{ @post_images.first.id };
