%section
	.pre
		%h1 PRE
		%button#find-post Find Post >
		%img#pre{src: @pre_images.where(position: @pre_position).first.full_url}
		%ul.thumbs#pre-thumbs
			%li
				%button#prev-pre <
			%li.thumb
				%img#pre-thumb0{src: nil}
			%li.thumb.active
				%img#pre-thumb1{src: nil}
			%li.thumb
				%img#pre-thumb2{src: nil}
			%li
				%button#next-pre >
	.post
		%h1 POST
		%button#find-pre < Find Pre
		%img#post{src: @post_images.where(position: @post_position).first.full_url}
		%ul.thumbs#post-thumbs
			%li
				%button#prev-post <
			%li.thumb
				%img#post-thumb0{src: nil}
			%li.thumb.active
				%img#post-thumb1{src: nil}
			%li.thumb
				%img#post-thumb2{src: nil}
			%li
				%button#next-post >

%section
	%p
		%label Step 1:
		Pick a location on the map to view the pre- and post-storm photos in that area
		%button#show-map Map
	%p
		%label Step 2:
		Find a matching pre- and post-storm photo and check the box if you found a good photo pair
		%input{type: 'checkbox'} Match
	%p
		%label Step 3:
		Mark all the coastal hazard regimes and visual coastal changes you see in the post-storm photo.
	%ul.regimes
		%li
			%input{type: 'checkbox'} Swash Regime
		%li
			%input{type: 'checkbox'} Collision Regime
		%li
			%input{type: 'checkbox'} Overwash Regime
		%li
			%input{type: 'checkbox'} Inundation Regime
	%ul.changes
		%li
			%input{type: 'checkbox'} No Change
		%li
			%input{type: 'checkbox'} Beach / Dune Scarps
		%li
			%input{type: 'checkbox'} Sand on Road / Parking Lot
		%li
			%input{type: 'checkbox'} Damaged Walkway
		%li
			%input{type: 'checkbox'} Damaged Roofs
		%li
			%input{type: 'checkbox'} Dark Sediment
		%li
			%input{type: 'checkbox'} Tractors Moving Sand
		%li
			%input{type: 'checkbox'} Damaged Sand / Snow Fence
		%li
			%input{type: 'checkbox'} Damaged Houses
		%li
			%input{type: 'checkbox'} Fans of Sand
		%li
			%input{type: 'checkbox'} House Construction
		%li
			%input{type: 'checkbox'} Damaged Road
		%li
			%input{type: 'checkbox'} Breach

#map

:javascript
	var gPrePosition = #{ @pre_position };
	var gPostPosition = #{ @post_position };
	showPre(gPrePosition);
	showPost(gPostPosition);
