%section
	.pre
		%h1 PRE
		%img#pre{src: nil}
		%ul.thumbs#pre-thumbs
			%li.thumb
				%img#pre-thumb0{src: nil}
			%li.thumb.active
				%img#pre-thumb1{src: nil}
			%li.thumb
				%img#pre-thumb2{src: nil}
		%h2 Instructions
		%p
			%label Task 1:
			Click on 
			%strong Random
			or 
			%strong Map 
			button to select a post-storm photo.
		%p
			%label Task 2:
			Find a matching Pre-Storm photo.
		%p
			%label Task 3:
			Mark all coastal change regimes visible in Post-Storm photo.
		%p
			%label Task 4:
			Mark all visual coastal changes you see in Post-Storm photo.
		
	.post
		%h1 POST
		%img#post{src: nil}
		.actions
			%button#shuffle-post Random Post-Storm Image
			%button#show-map Map
		%h3 Photo Match
		%ul.match
			%li
				%input{type: 'checkbox'} Pre-Storm Photo Matches Post-Storm Photo
		%h3 Coastal Change Regimes
		%ul.regimes
			- for tag in @tags.regime
				%li
					%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id} #{tag.name}
		%h3 Visual Coastal Changes
		%ul.changes
			- for tag in @tags.visual.shuffle
				%li
					%input{type: 'checkbox', id: dom_id(tag), tag_id: tag.id}= tag.name

#map{style: 'display:none'}

:javascript
	var gPrePosition = #{ @pre_position };
	var gPostPosition = #{ @post_position };
	var gPostId = 0;
	findRandomPost();
